@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/** HEADER **/

.background-img {
  position: relative;
  width: 100%;
  margin-top: -3rem;
}

.logo {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  z-index: 10; /* prioritizes the element, so it sits infront */
  white-space: nowrap;
  margin-top: 5rem;

  background: rgba(0, 0, 0, 0.5);
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  left: 50%; /* Pushes it 50% left and -50% right */
  transform: translateX(-50%);
}

/** STYLING THE NAVIGATION **/

header nav a {
  text-decoration: none;
}

header li { /** To prevent line breaks in the li lists **/
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
}

ul {
  padding: 0;
}

/** Styling dropdown menu **/

.material-icons { /* This is the dropdown button */
  background-color: #e2e2e2;
  color: #000;
  margin-right: .75rem;
  margin-top: 1rem;

  border: 1px solid;
  border-radius: 10%; /* Curving/rounding the sides to a square */
}

.dropdown { /* Positioning the dropdown content */
  position: relative;
  display: inline-block;
  z-index: 100;

  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content { /* Hiding the dropdown content and styling it when it appears */
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, .9); /* Giving the white background to the links an opacity */
  text-align: center;
  font-family: "Crimson Text", serif;

  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a { /* Styling the links within the dropdown menu */
  color: #000;
  display: block;
  padding: 12px 16px;
}

.dropdown-content a:hover { /* Changing the dropdown links background when clicked */
  display: block;
  background-color: #686767;
  color: #fff;
}

.dropdown:hover .dropdown-content { /* Showing the dropdown menu when icon is clicked */
  display: block;
}

.dropdown:hover .material-icons { /* Changing the colour of the icon once clicked */
  background-color: #f2f2f2;
  color: #686767;
  cursor: pointer;
  }

/** SECTION ONE **/

.intro {
  margin: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 3.5rem;
  border: 2px solid #333;
  padding: 1rem;
}

.intro-title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.intro-paragraph,
.slogan {
  text-align: left;
  font-family: "Crimson Text", serif;
  padding: 0;
}

/** ICON CARDS **/

li {
  list-style-type: none;
}

.card {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.cards {
  margin: 0 auto;
}

.card-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.card-body {
  font-family: "Crimson Text", serif;
}

.card-img {
  width: 25%;
}

.mission,
.vision,
.values {
  margin-bottom: 3.5rem;
}

.card-readmore{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

/** SECTION TWO **/

.section-two {
  margin-top: 3rem;
}

.ex-title {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
}

.ex-content {
  font-family: "Crimson Text", serif;
  text-align: left;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Section Three Button */

.button {
  margin-top: 2rem;
  margin-bottom: 2.75rem;
}

.btn-ghost {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: 2px solid #333;
  padding: .5rem;
}

.btn-ghost:hover {
  background-color: #666;
  border: 2px solid #e2e2e2;
  color: #fff;
}

/** SECTION THREE **/

.section-three {
  background-color: #333;

}

.special-content {
  padding-bottom: 4rem;
}

.special-img {
  width: 100%;
  margin-top: 2rem;
}

.special-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
}

.special-body {
  font-family: "Crimson Text", serif;
  color: #fff;
  margin-left: 2rem;
}

.add-content {
  padding-bottom: 4rem;
}

.add-img {
  width: 100%;
  filter: opacity(0.9);
}

.add-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
}

.add-body {
  font-family: "Crimson Text", serif;
  color: #fff;
  margin-left: 2rem;
}

.del-content {
  padding-bottom: 4rem;
}

.del-img {
  width: 100%;
}

.del-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
}

.del-body {
  font-family: "Crimson Text", serif;
  color: #fff;
  margin-left: 2rem;
}

.part-content {
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.part-img {
  width: 100%;
}

.part-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 2rem;
}

.part-body {
  font-family: "Crimson Text", serif;
  color: #fff;
  margin-left: 2rem;
}

.special-readmore,
.add-readmore,
.del-readmore,
.part-readmore {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
}

/** LINK CARD **/

article {
  margin-top: 2rem;
  padding: .25rem;
  padding-bottom: 1rem;
  background-color: #e4e4e4;
}

article:hover {
  background-color: #b4b4b4;
  cursor: pointer;
}

.link-card:link{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.info-title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  white-space: nowrap;
  margin-left: 2rem;
}

.info {
  font-family: "Crimson Text", serif;
  color: #000;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* styling button */

.btn {
  font-family: "Crimson Text", serif;
}

.btn-wrap {
  display: inline-block;
  padding: .4em .75em .3em;
  border: 3px solid #333;
  background-color: #333;
  color: #fff;
  text-decoration: none;

  margin-left: 2rem;
}

.btn:hover {
  cursor: pointer;
}

/** FOOTER **/

footer {
  background-color: #333;
  padding: 1.5rem;
  margin-top: 1rem;
}

small {
  color: #fff;
}

/** BORDERLINES **/

.borderline {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  width: 13rem;
  margin: 1rem;
  margin-left: 3.75rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .logo {
    margin-top: 6.5rem;
  }

  .card {
    display: inline-block;
    margin-bottom: 0;
  }

  .card-img {
    width: 49%;
  }

  .cards {
    text-align: center;
  }

  .borderline {
    margin: 0 auto;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .logo {
    color: #000;
    background: none;
    position: relative;
    display: block;
    margin-top: 1rem;
    margin-bottom: -2rem;
    text-align: center;
  }

  .background-img {
    margin-top: 0;
  }

  .material-icons {
    display: none;
  }

  .dropdown-content {
    display: block;
    position: relative;
    background: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown ul li{
    display: inline-block;
  }

  .intro p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .card {
    width: 165px;
    margin-top: -1rem;
    margin-left: 1rem;
  }

  .section-two {
    margin-top: 4rem;
  }

  .section-three {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  .special-content,
  .part-content {
    padding: 0;
    position: relative;
  }

  .special-title,
  .part-title {
    top: 45%;
    position: absolute;
    margin-left: 0;
    background-color: rgba(0,0,0,0.7);
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .special-body,
  .part-body {
    top: 62%;
    position: absolute;
    margin-left: 0;
    background-color: rgba(0,0,0,0.7);
    padding: .5rem;
    text-align: left;
    width: 80%;
  }

  .special-readmore,
  .part-readmore {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    text-decoration: none;


    top: 85%;
    margin-left: 0;
    left: 0;
    transform: translate(0);
    padding: .5rem;
  }

  .add-img {
    display: block;
    padding: .75rem;
    text-align: center;
    margin: 0 auto;
  }

  .left,
  .right {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin: 0 auto;
  }

  .del-img {
    display: block;
    padding: .75rem;
  }

  .add-title,
  .del-title {
    position: absolute;
    left: 50%;
    top: 45%;
    color: #fff;

    transform: translate(-50%, -50%);
    width: 75%;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
  }

  .add-body,
  .del-body {
    display: none;
  }

  .add-content,
  .del-content {
    position: relative;
    padding: 0;
  }

  .add-readmore,
  .del-readmore {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    text-decoration: none;
    text-align: center;

    left: 40%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding: .5rem;
  }

  .borderline {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .logo {
    margin-top: 1.5rem;
    margin-bottom: -2rem;
    display: block;
  }

  .dropdown {
    margin-bottom: 0rem;
  }

  .intro {
    position: absolute;
    margin: auto;
    margin-top: 3rem;
    left: 0;
    right: 0;
    top: 20em;
    color: #fff;
    border: none;

    background-color: rgba(0,0,0,0.4)
  }

  .intro p{
    text-align: center;
    padding-left: 13rem;
    padding-right: 13rem;
  }

  .card {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
  }

  .section-three {
    padding-bottom: 2rem;
  }

  .left,
  .right {
    width: 45%
  }

  .special-content,
  .part-content {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

  .special-title,
  .part-title {
    position: absolute;
    left: 50%;
    top: 43.5%;

    white-space: nowrap;
    padding: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transform: translate(-50%, -50%);
}

  .special-readmore,
  .part-readmore {
    left: 43%;
    top: 68%;
    transform: translate(-50%, -50%);
    padding: .5rem;
  }

  .part-title {
    top: 35%;
  }

  .part-readmore {
    top: 63%;
  }

  .special-body,
  .part-body {
    display: none;
  }

  .add-img,
  .del-img {
    padding: 0px;
  }

  .article-hover {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .info {
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

    .logo {
    font-size: 2.5rem;
    display: inline-block;
    float: left;
    margin: .5rem;
    padding-top: .5rem;

    left: 0;
    transform:translateX(0);
    }

    .dropdown-content {
      padding-top: .5rem;
    }

    .intro {
      font-size: 1.5rem;
      top: 350px;
    }

    .card {
      margin-left: 3rem;
      width: 20%;
    }

    .borderline {
      width: 75%;
    }

    .ex-content {
      text-align: center;
      padding-left: 7rem;
      padding-right: 6rem;
    }

    .ex-title {
      text-align: center;
    }

    .button {
      margin: 0 auto;
      margin-bottom: 5%;
    }

    .special-title,
    .part-title {
      padding-left: 6.5rem;
      padding-right: 6.5rem;
    }
}
